/* all elements rules */
* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body */
body {
  width: 1200px;
  margin: auto;
  font-family: Arial, sans-serif;
}

/* header */

  /* header-first-row */
  #header-first-row {
    height: 50px;
    background-color: rgb(51, 71, 91);
  }

    /* clearfix */
  #header-first-row:after {
    content: "";
    display: table;
    clear: both;
  }

  #header-first-row > .logo-container {
    float: left;
    width: 10%;
    height: 50px; /* debug */
    background-color: red; /* debug */
  }

  #header-first-row > nav {
    float: left;
    width: 60%;
    height: 50px; /* debug */
    background-color: pink; /* debug */
  }

  #header-first-row > ul {
    float: left;
    width: 30%;
    height: 50px; /* debug */
    background-color: brown; /* debug */
  }
  /* /header first row */

  /* header second row  */
  #header-second-row {
    background-color: grey;
  }

  .row-container {
    width: 84%;
    height: 70px;
    margin: auto;
    background-color: brown; /* debug */
  }

    /* clearfix */
  #header-first-row > .row-container:after {
    content: "";
    display: table;
    clear: both;
  }

  .head-row-2-ul-sx {
    float: left;
    background-color: black; /* debug */
  }

  .head-row-2-ul-dx {
    float: right;
    background-color: white; /* debug */
  }
  /* /header second row  */
