/* reset rules */
* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

/* rules used (or usable) in different parts of the page */
a {
  /* overwriting browser's style */
  text-decoration: none;
}

.link-orange-back-white-font {
  background-color: orange;
  color: white;
}

.small-link {
  padding: 7px 20px;
}

.big-link {
  padding: 15px 20px;
}

.row-container {
  width: 84%;
  margin: auto;
}

/* clearfix */
#header-first-row:after,
#header-second-row > .row-container:after,
#header-third-row > .row-container:after,
#footer-4-lists-icons-row > .row-container:after,
#footer-last-row > .row-container:after,
#main-2nd-row-2nd-row > .row-container-3:after,
#main-2nd-row-third-row > .row-container-3:after,
#main-3rd-row-2nd-row > .row-container:after,
#main-4th-row-1st-row-2nd-col ul,
#main-4th-row-1st-row > .row-container-3:after,
#main-4th-row-2nd-row > .row-container-3:after
{
  content: "";
  display: table;
  clear: both;
}

/* background colors */
.white-back {
  background-color: white;
}

/* rules used in specific parts of the page */

/* body */
body {
  width: 1200px;
  margin: auto;
  font-family: Arial, sans-serif;
}

/* header */
  header li {
    /* to align the list items on the same line */
    display: inline-block;
  }

  /* header's first row */
  #header-first-row {
    height: 50px;
    background-color: rgb(51, 71, 91);
  }

  .logo-img {
    float: left;
    /* aligning the image vertically in its container */
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #header-first-row > nav {
    float: left;
  }

  #header-first-row a {
    /* aligning links vertically in their container */
    line-height: 50px;
    /* overwriting browser's style */
    color: white;
  }

  #header-first-row > ul {
    float: right;
    padding-right: 5%;
  }

  #header-first-row li {
    padding-left: 20px;
  }

  .fa-search,
  .fa-cog,
  .fa-user-circle {
    color: black;
  }

  .vertical-line {
    border-right: 1px solid yellow;
    height: 40px;
    vertical-align: middle;
  }
  /* /header's first row */

  /* header's second row  */
  #header-second-row {
    height: 70px;
    background-color: lightgrey;
  }

  #header-row-2-ul-left,
  #header-row-2-ul-right {
    /* vertically aligning content of the two lists */
    line-height: 70px;
  }

  #header-row-2-ul-left {
    float: left;
  }

  #header-row-2-ul-right {
    float: right;
  }

  #header-second-row a {
    /* overwriting browser's style */
    color: rgb(51, 71, 91);
  }

  #header-second-row li {
    padding-left: 10px;
  }

  /* "Get Hubspot Free" button */
  #header-row-2-ul-right > li:last-child > a {
    border: 2px rgb(51, 71, 91) solid;
    color: white;
  }
  /* /header's second row  */

  /* header's third row */
  #header-third-row {
    height: 70px;
  }

  #header-third-row .logo-img {
    float: left;
    /* aligning the image vertically in its container */
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #header-third-row ul {
    float: right;
    line-height: 70px;
  }

  #header-third-row a {
    /* overwriting browser's style */
    color: rgb(51, 71, 91);
  }

  #header-third-row li {
    padding-left: 20px;
  }
  /* /header's third row */

/* /header */

/* main */

  /* main's first row */
  #main-first-row {
    height: 650px;
    background-image: url("../img/buildings-people-background.png");
    background-size: 100% 100%;
    color: rgb(51, 71, 91);
  }

  .row-container-2 {
    width: 40%;
    margin-left: 8%;
    padding-top: 80px;
  }

  #main-first-row h1 {
    font-size: 55px;
  }

  #main-first-row p {
    padding-top: 30px;
  }

  #main-first-row a {
    /* to add a top margin (<a> is an inline element by default and borders can't be set for inline elements)*/
    display: inline-block;
    margin-top: 30px;
  }
  /* /main's first row */

  /* main's second row */
  #main-second-row {
    background-color: rgb(244, 248, 250);
    padding: 50px 0;
    color: rgb(51, 71, 91);
  }

  .row-container-3 {
    width: 74%;
    margin: auto;
    padding: 25px 0;
  }

  /* first row of main's second row */
  #main-2nd-row-first-row {
    text-align: center;
  }

  #main-2nd-row-first-row img {
    width: 190px;
  }

  #main-2nd-row-first-row h2 {
    font-size: 32px;
  }

  #main-2nd-row-first-row p {
    margin-top: 20px;
  }
  /* /first row of main's second row */

  /* second row of main's second row */
  #main-2nd-row-2nd-row > .row-container-3 > :first-child {
    float: left;
    width: 29%;
    padding-left: 6%;
    text-align: center;
  }

  #main-2nd-row-2nd-row > .row-container-3 > :first-child > img {
    width: 200px;
    height: 150px;
  }

  #main-2nd-row-2nd-row > .row-container-3 > :first-child > a {
    display: inline-block;
  }

  #main-2nd-row-2nd-row > .row-container-3 > :last-child {
    float: left;
    width: 65%;
    background-color: green; /* debug */
  }

  #main-2nd-row-2nd-row > .row-container-3 > :last-child li {
    display: inline-block;
  }

  /* third row of main's second row */
  .hub-container {
    float: left;
    width: 33.3333%;
    background-color: white;
  }

  /* /main's second row */

  /* main's third row */
  #main-3rd-row {
    background-color: rgb(0, 163, 162);
  }

  /* first row of main's third row */
  #main-3rd-row-1st-row {
    width: 70%;
    margin: auto;
    text-align: center;
  }

  /* second row of main's third row */
  .users-number-container {
    float: left;
    width: 25%;
    text-align: center;
  }

  #main-3rd-row-2nd-row > :last-child {
    border-top: 1px solid white;
  }

  .border-right-solid {
    border-right: 1px solid white;
  }
  /* /main's third row */

  /* main's fourth row */

  /* first row of main's fourth row */
  #main-4th-row-1st-row-first-col {
    float: left;
    width: 30%;
  }

  #main-4th-row-1st-row-2nd-col {
    float: left;
    width: 70%;
  }

  #main-4th-row-1st-row-2nd-col > ul:first-child > li,
  #main-4th-row-1st-row-2nd-col > ul:last-child > li {
    float: left;
  }
  /* /first row of main's fourth row */

  /* second row of main's fourth row */
  #main-4th-row-2nd-row-1st-col,
  #main-4th-row-2nd-row-2nd-col {
    float: left;
    width: 50%;
  }
  /* /second row of main's fourth row */

  /* /main's fourth row */

/* /main */

/* footer */
footer {
  background-color: rgb(51, 71, 91);
}

  /* footer's first row (4 lists and icons too) */
  #footer-4-lists-icons-row {
    background-color: yellow; /* debug */
  }

  #footer-4-lists-icons-row ul {
    float: left;
    width: 25%;
  }

  #footer-icon-list li {
    display: inline-block;
  }
  /* /footer's first row (4 lists and icons too) */

  /* footer's second row (with language links) */
  #footer-languages-row {
    width: 100%;
    text-align: center;
    background-color: red; /* debug */
  }

  /* footer's last row */
  #footer-last-row {
    border-top: 2px solid;
    background-color: green; /* debug */
  }

  #logo-copyright {
    float: left;
  }

  #legal-privacy {
    float: right;
  }
/* /footer */
