/* all elements rules */
* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

/* rules used in different parts of the page */
  .row-container {
    width: 84%;
    margin: auto;
  }

  /* clearfix */
  #header-first-row:after,
  #header-second-row > .row-container:after,
  #header-third-row > .row-container:after,
  #footer-4-lists-icons-row > .row-container:after,
  #footer-last-row > .row-container:after,
  #main-2nd-row-2nd-row > .row-container-3:after,
  #main-2nd-row-third-row > .row-container-3:after,
  #main-3rd-row-2nd-row > .row-container:after,
  #main-4th-row-1st-row-2nd-col ul,
  #main-4th-row-1st-row > .row-container-3:after,
  #main-4th-row-2nd-row > .row-container-3:after
  {
    content: "";
    display: table;
    clear: both;
  }

  /* background colors */
  .white-back {
    background-color: white;
  }

/* body */
body {
  width: 1200px;
  margin: auto;
  font-family: Arial, sans-serif;
}

/* header */
  header li {
    display: inline-block;
  }

  /* header's first row */
  #header-first-row {
    background-color: rgb(51, 71, 91);
  }

  #header-first-row > .logo-container {
    float: left;
    width: 10%; /* debug */
    background-color: red; /* debug */
  }

  #header-first-row > nav {
    float: left;
    background-color: pink; /* debug */
  }

  #header-first-row > ul {
    float: right;
    padding-right: 15%;
    background-color: brown; /* debug */
  }
  /* /header's first row */

  /* header's second row  */
  #header-second-row {
      background-color: grey;
  }

  .header-row-2-ul-left {
    float: left;
    background-color: black; /* debug */
  }

  .header-row-2-ul-right {
    float: right;
    background-color: white; /* debug */
  }
  /* /header's second row  */

  /* header's third row */

  #header-third-row .logo-link {
    float: left;
    background-color: black; /* debug */
  }

  #header-third-row ul {
    float: right;
    background-color: pink; /* debug */
  }
  /* /header's third row */

/* /header */

/* main */

  /* main's first row */
  #main-first-row {
    height: 650px;
    background-image: url("../img/buildings-people-background.png");
    background-size: 100% 100%;
  }

  .row-container-2 {
    width: 40%;
    margin-left: 8%;
    padding-top: 50px;
  }
  /* /main's first row */

  /* main's second row */
  #main-2nd-row-first-row {
    background-color: rgb(244, 248, 250);
  }

  .row-container-3 {
    width: 74%;
    margin: auto;
  }

    /* first row of main's second row */
  #main-second-row-first-row {
    text-align: center;
  }

  /* second row of main's second row */
  #main-2nd-row-2nd-row > .row-container-3 > :first-child {
    float: left;
    width: 35%;
    background-color: black; /* debug */
  }

  #main-2nd-row-2nd-row > .row-container-3 > :last-child {
    float: left;
    width: 65%;
    background-color: green; /* debug */
  }

  #main-2nd-row-2nd-row > .row-container-3 > :last-child li {
    display: inline-block;
  }

  /* third row of main's second row */
  .hub-container {
    float: left;
    width: 33.3333%;
    background-color: white;
  }

  /* /main's second row */

  /* main's third row */
  #main-3rd-row {
    background-color: rgb(0, 163, 162);
  }

  /* first row of main's third row */
  #main-3rd-row-1st-row {
    width: 70%;
    margin: auto;
    text-align: center;
  }

  /* second row of main's third row */
  .users-number-container {
    float: left;
    width: 25%;
    text-align: center;
  }

  #main-3rd-row-2nd-row > :last-child {
    border-top: 1px solid white;
  }

  .border-right-solid {
    border-right: 1px solid white;
  }
  /* /main's third row */

  /* main's fourth row */

  /* first row of main's fourth row */
  #main-4th-row-1st-row-first-col {
    float: left;
    width: 30%;
  }

  #main-4th-row-1st-row-2nd-col {
    float: left;
    width: 70%;
  }

  #main-4th-row-1st-row-2nd-col > ul:first-child > li,
  #main-4th-row-1st-row-2nd-col > ul:last-child > li {
    float: left;
  }
  /* /first row of main's fourth row */

  /* second row of main's fourth row */
  #main-4th-row-2nd-row-1st-col,
  #main-4th-row-2nd-row-2nd-col {
    float: left;
    width: 50%;
  }
  /* /second row of main's fourth row */

  /* /main's fourth row */

/* /main */

/* footer */
footer {
  background-color: rgb(51, 71, 91);
}

  /* footer's first row (4 lists and icons too) */
  #footer-4-lists-icons-row {
    background-color: yellow; /* debug */
  }

  #footer-4-lists-icons-row ul {
    float: left;
    width: 25%;
  }

  #footer-icon-list li {
    display: inline-block;
  }
  /* /footer's first row (4 lists and icons too) */

  /* footer's second row (with language links) */
  #footer-languages-row {
    width: 100%;
    text-align: center;
    background-color: red; /* debug */
  }

  /* footer's last row */
  #footer-last-row {
    border-top: 2px solid;
    background-color: green; /* debug */
  }

  #logo-copyright {
    float: left;
  }

  #legal-privacy {
    float: right;
  }
/* /footer */
